.App {
  height: 100%;
  display: flex;
  background-color: slategray;
}

.timeline-container{
  background-color: white;
  border: solid 1px #444;
  box-shadow: 5px 5px 5px #444;
  margin: auto;
  height: 300px; 
  flex: 0.5;
  display: flex;
}

.timeline-container svg{
  margin: auto;
}
